

  @import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

body{
  font-family: 'Montserrat' !important;
  background:#ddd;
  letter-spacing:1px !important;
}



                                          .theme-btn1 {
                                          background:transparent;
                                          color: #fff;
                                          display: inline-block;
                                          font-weight: 600;
                                          padding: 15px 45px;
                                          border-style: solid;
                                          border-color: #fff;
                                          text-transform: capitalize;
                                          -webkit-backface-visibility: hidden;
                                          z-index: 1;
                                          position: relative;
                                          font-size: 16px;

                                          transition: all 0.3 ease-in-out;
                                      }
                                      .theme-btn1:hover {
                                          background:transparent;
                                          color: black;
                                          display: inline-block;
                                          font-weight: 600;
                                          padding: 15px 45px;
                                          border-style: solid;
                                          border-color: black;
                                          text-transform: capitalize;
                                          -webkit-backface-visibility: hidden;
                                          z-index: 1;
                                          position: relative;
                                          font-size: 16px;

                                          transition: all 0.3 ease-in-out;
                                      }

                                      h1,h2, h3, h4, h5, h6 {
  
                                            font-family: "Montserrat", sans-serif;
                                            font-weight:bold
                                          
                                        }
                                    










.shell{
  padding:10px 0;
  margin-top: 200px;
}
.wsk-cp-product{
  
  padding:15px;
  border-radius:6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position:relative;
  margin:0px auto;
}

.wsk-cp-product:hover {
  background-color: #F9581C;
}
.wsk-cp-img{
  position:absolute;
  top:5px;
  left:50%;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
  -ms-transform:translate(-50%);
  -moz-transform:translate(-50%);
  -o-transform:translate(-50%);
  -khtml-transform:translate(-50%);
  width: 100%;
  /*padding: 15px;*/
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img{
  width:100%;
  transition: all 0.2s ease-in-out;
  border-radius:0px;
}
.wsk-cp-product:hover .wsk-cp-img{
  /*top:40px;*/
}
.wsk-cp-product:hover .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.wsk-cp-text{
  padding-top:150%;
}
.wsk-cp-text .category{
  text-align:center;
  font-size:12px;
  font-weight:bold;
  padding:5px;
  margin-bottom:45px;
  position:relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > *{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -khtml-transform: translate(-50%,-50%);
    
}
.wsk-cp-text .category > span{
  padding: 12px 30px;
  border: 1px solid #313131;
  background:#212121;
  color:#fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius:27px;
  transition: all 0.05s ease-in-out;
  
}
.wsk-cp-product:hover .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category{
  margin-top: 0px;
}
.wsk-cp-text .title-product{
  text-align:center;
}
.wsk-cp-text .title-product h3{
  font-size:20px;
  font-weight:bold;
  margin:15px auto;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  width:100%;
}
.wsk-cp-text .description-prod p{
  margin:0;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align:center;
  width: 100%;
  height:62px;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  margin-bottom:15px;
}
.card-footer{
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}
.card-footer:after, .card-footer:before{
  content:'';
  display:table;
}
.card-footer:after{
  clear:both;
}

.card-footer .wcf-left{
  float:left;
  
}

.card-footer .wcf-right{
  float:right;
}

.price{
  font-size:18px;
  font-weight:bold;
}

a.buy-btn{
  display:block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  width:35px;
  height:35px;
  line-height:35px;
  border-radius:50%;
  border:1px solid #212121;
  transition: all 0.2s ease-in-out;
}
a.buy-btn:hover , a.buy-btn:active, a.buy-btn:focus{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
  text-decoration:none;
}
.wsk-btn{
  display:inline-block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #FF9800;
  background: #FF9800;
  padding:12px 30px;
  border-radius:27px;
  margin: 0 5px;
}
.wsk-btn:hover, .wsk-btn:focus, .wsk-btn:active{
  text-decoration:none;
  color:#fff;
}  
.red{
  color:#F44336;
  font-size:22px;
  display:inline-block;
  margin: 0 5px;
}
@media screen and (max-width: 991px) {
  .wsk-cp-product{
    margin:40px auto;
  }
  .wsk-cp-product .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  .wsk-cp-product .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product .wsk-cp-text .category{
  margin-top: 0px;
}
a.buy-btn{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
}
}

.centered2 {
          position: absolute;
          top: 80px;
          left: 16px;
          transform: translate(-3%, -30%);
          color:black;
        
          padding:10px;
          border-radius:50%;
          font-size: 18px;
          text-align:center
        }


       
        .gavel1{
          background-color: #ff4400;
          color: white;
          font-weight: 800;
          border-radius:50%;
          padding-top:7px;
          padding-bottom:7px;
          padding-left:10px;
          padding-right:10px

        }
        .gavel1:hover {
          background-color:white;
          color:  #ff4400;
        }


            /* Centered text */
        .centered {
          position: absolute;
          top:40%;
          left: 50%;
          transform: translate(-50%, -50%);
          color:white
         
        }
        
        
        .centered1 {
          position: absolute;
          bottom:-5%;
          left: 20%;
          transform: translate(-3%, -30%);
          color:black;
          background-color: white !important;
          padding:10px;
          
          
          
          font-size: 28px;
          text-align:center;
          background-color: black;
          opacity:0.7
         
        }
        
          .heading101 {
            font-size: 2.5rem!important;
            text-transform: uppercase!important;
            font-weight: 800;
            margin-bottom: 2rem;
            margin-left: 2rem;
            text-align: center;
        }
        
        .shaping{
             margin-top: -250px;
        }
        
        
        .latestheading{
            text-align: center ;
            font-weight: 800;
        }
        
        .imgclasses{
            height:400px;
            background-color: #333;
        }
        
        .theme-btn-design{
            clip-path: polygon(100% 0, 100% 100%, 88% 100%, 0 100%, 0 0) !important;
            font-size: 12px !important;
        }
        
        .cardbgarrow{
            background-image: url(../../assets/images/sell/bg.png);
            background-repeat: no-repeat; 
            background-size: cover;
        }
        
        .leftcards{
          margin-top:100px ;  
        }
        
        .card-img-top1{
            height:270px;
            filter: brightness(30%);
        }
        
                .card-img-top2{
             height:350px;
             filter: brightness(30%);
        }
        
        .card-img-top3{
            height:380px;
            filter: brightness(30%);
        }
        
       
            .card-img-top4{
            height:240px;
            filter: brightness(30%);
        }    
        
        .cardtitletexts{
            color: white;
            margin-left: 60px;
        }
        
        .cardtexts{
            color: white;
            margin-left: 60px;
        }
        
        .flexcat{
            display:flex;
            padding-top:4rem;
            padding-bottom:2rem;
            justify-content: center;
        }
        
        .cardthemebtn{
            margin-left: 60px;
            clip-path: polygon(100% 0, 100% 100%, 88% 100%, 0 100%, 0 0) !important;
        }
        
        .group69{
            position:absolute;
            margin-top:-48px;
            margin-right:20px;
            width:22rem;
        }
        
        .img1res{
            height:540px;
            filter: brightness(30%);
        }
        
        .centerprod{
            font-size: 28px;
            text-align:center
        }
        
        .catbtns{
            clip-path: polygon(100% 0, 100% 100%, 88% 100%, 0 100%, 0 0) !important;
            font-size: small;
            border-radius: 15px;
        }
        
        .catheight{
            height:400px !important;
        }
        
        .airfilter{
            font-size: 28px;
            text-align:center
        }
        
        .btnbgco{
            background-color:#303030 !important;
            clip-path: polygon(100% 0, 100% 100%, 88% 100%, 0 100%, 0 0) !important;
            font-size: 12px !important;
        }
        
        .timetext{
         font-size: 18px;
         font-weight: 800;
        }
        
        .timfont{
            font-size: 24px;
        }
        
        .catmargin{
            margin-top: -100px;
        }
        
        .catmargintop{
            margin-top:100px ;
        }
        
        .viewallbtn{
            clip-path: polygon(100% 0, 100% 100%, 88% 100%, 0 100%, 0 0) !important;
            font-size: medium;
            width: 300px;
        }
 
        .factimgwidth{
            width:250rem;
        }
        
        .orangeindex{
            background-color: #FF4402;
            height: 150px !important
        }
        
        .msgqs{
            text-align: center ;
            color:white;
            font-weight:bold;
            font-size:42px;
        }
        
        .mapdiv{
            display:flex;
            background-color:white;
            width:100%;
            justify-content: center;
            padding-top:5rem; 
            padding-bottom:5rem;
        }
        
        .mapclass{
            width:50rem; 
            display:flex;
        }
        
        .orangeheight{
            background-color: #FF4402;
            height: 100px!important
        }
        
        .newsbg{
            background-color: #363D4F;
        }
        
        .newshead{
            text-align: center ;
            color:white;
        }
        
        .group19wid{
            width:300px;
        }